<h1>{{languages.title}}</h1>



<form action="/categories/edit" method="post">
    
        {{# each languages as |val key|}}
            <p id="_{{key}}">
            <lable for="{{key}}" class="menutitle">{{key}}</lable><br>
            <input type="text" id="{{key}}" name="{{key}}" value="{{val}}" required>
            </p>  
        {{/each}}  
    <div class="submit-bt">
        <button type="submit" name="submit" id="submit">
            Update
        </button>
    </div>
</form>
<div class="bottomButs" id='bb'>
    <form action="/categories/delete/" method="POST"
        onsubmit="return confirm('Are you sure you want to permanently delete this category?')">
        <input type="hidden" id="id" name="id" value="{{languages.id}}">
        <button class="warn" type="submit">DELETE</button>
    </form>
    <!--<button class="warn" onclick="deletemodel()">Delete</button>-->
    <button onclick="window.location.href='/categories'">Cancel</button>
</div>
<script>
    function startup() {
        var id = document.getElementById("id").value;
        if (id == 'new') {
            document.getElementById('bb').style.display = 'none';
            document.getElementById('submit').innerHTML = 'Create';
        }
    }
    // hide id 
    var idfield = document.getElementById("id");
    idfield.type = 'hidden';
    var _label = document.getElementById("_id");
    _label.style.display = 'none';


</script>