<h1>Attributes for {{model}}</h1>


<div id="container" class="window3d">

</div>

<form action="/models/updatemodel" method="post">
    <p>
        <lable for="model">Model id</lable><br>
        <input type="text" id="id" name="id" value="{{id}}" readonly>
    </p>
    <p>
        <lable for="model">Model</lable><br>
        <input type="text" id="model" name="model" value="{{model}}" readonly>
    </p>
    <p>
        <lable for="title">Title</lable><br>
        <input type="text" id="title" name="title" value="{{title}}" required>
    </p>
    <p>
        <lable for="sku">SKU</lable><br>
        <input type="text" name="sku" id="sku" value="{{sku}}" required>
    </p>
    <p>
        <label for="list">Choose categories:</label><br>
    <div class="allcategories">
        <select style="display:none" name="categories" id="categories" multiple placeholder="Select"> </select>
    </div>
    </p>
    <div class="submit-bt">
    <button type="submit" name="submit">
        Update
    </button>
    </div>
</form>
<div class="bottomButs">
    <form action="/models/deletemodel/" method="POST" onsubmit="return confirm('Are you sure you want to permanently delte this model?')">
    <input type="hidden" id="id" name="id" value="{{id}}">
    <input type="hidden" id="model" name="model" value="{{model}}">
    <button class="warn" type="submit">DELETE</button>
    </form>
<!--<button class="warn" onclick="deletemodel()">Delete</button>-->
    <button onclick="window.location.href='/models'">Cancel</button>
</div>
<script>
    function startup() {
        loadModel('{{model}}');
    }
    function registerSnaps(points) {

    }
    const selected = '{{categories}}';
    const selectedArray = selected.split('|');

    fetch('/categories/all')
        .then(response => response.json())
        .then(data => {
            var i;
            for (i = 0; i < data.length; i++) {
                data[i].name = data[i].title;
                data[i].value = data[i].id;
                if (selectedArray.includes(String(data[i].id))) {
                    data[i].selected = true;
                }
            }

            $('.allcategories').dropdown({
                data: data,
                limitCount: 40,
                multipleMode: 'label',
                input: '<input type="text" maxLength="20" placeholder="Search">',
                choice: function () {
                    //getlist();
                }
            });
        });


  
</script>

{{>preview3d}}