<h1>{{ title }}</h1>
<p>List {{ title }}</p>

 <div class="item-row-top"><div class="column" ><span class="menutitle">ID</span></div><div class="column" ><span class="menutitle">TITLE</span></div><div class="column" ><span class="menutitle">SKU </span></div></div>
{{# each models as |val key|}}

   <div class="item-row" onclick="window.location.href='/models/editModel/{{val.id}}'"><div class="column" >{{val.id}}</div><div class="column" > {{ val.title }}</div> <div class="column" > {{val.sku}}</div></div>
{{/each}}

<script>
   function startup(){};
</script>
